In [1]:
# EDA on Vehicle Insurance Customer Data
import pandas as pd
import numpy as np

# 1
customer_details = pd.read_csv('./customer_details.csv')
customer_policy = pd.read_csv('./customer_policy_details.csv')
customer_details.columns = ['customer_id', 'Gender', 'age', 'driving licence present',
                            'region code', 'previously insured', 'vehicle age', 'vehicle damage']
customer_policy.columns = ['customer_id',
                           'annual premium', 'sales channel code', 'vintage', 'response']

In [2]:
# 2
# 2 i)
customer_details['customer_id'].isnull().sum()

386

In [3]:
customer_policy['customer_id'].isnull().sum()

387

In [4]:
customer_details['customer_id'].count(), customer_policy['customer_id'].count()

(380723, 380722)

In [5]:
# Because Jupyter notebook crashes or Its stops execution
# Replace all null values for numeric columns by mean
# customer_details.mean(), customer_policy.mean()

In [6]:
# Because Jupyter notebook crashes or Its stops execution
# Replace all null values for Categorical value by mode
# customer_details.mode(), customer_policy.mode()

In [7]:
# 2 ii)
Q1 = np.percentile(customer_details['age'], 25)
Q3 = np.percentile(customer_details['age'], 75)
IQR = Q3 - Q1
print("Outliers is :", Q1 - 1.51 * IQR)

Outliers is : nan

C:\Users\vasan\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3826: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

In [8]:
# Because Jupyter notebook crashes or Its stops execution
# iii) Remove white spaces
# There is only strip in string so
# customer_details['Gender'].str.strip()

In [11]:
# Because Jupyter notebook crashes or Its stops execution
# case correction(lower or upper, any one)
# 2 iv) Only for string
# customer_details['Gender'].str.title()

In [12]:
# Because Jupyter notebook crashes or Its stops execution
# Convert nominal data (categorical) into dummies for future modeling use if required
# 2 v)
# pd.get_dummies(customer_details)
# pd.get_dummies(customer_policy)

In [18]:
# Because Jupyter notebook crashes or Its stops execution
# Drop Duplicates (duplicated rows)
# 2 vi)
# customer_details.drop_duplicates(), customer_policy.drop_duplicates()

In [19]:
# Because Jupyter notebook crashes or Its stops execution
# 3 Create a Master table for future use. Join the customer table and customer_policy table to get a master table using customer_id in both tables
merge = pd.merge(customer_details, customer_policy, on='customer_id')
# merge

In [16]:
# 4
# i. Gender wise average annual premium
merge.groupby(['Gender']).mean()['annual premium']

Gender
Female    30428.957317
Male      30524.187601
Name: annual premium, dtype: float64

In [27]:
# ii. Age wise average annual premium
merge.groupby(['age']).mean()['annual premium']

age
20.0    27712.686993
21.0    30476.352964
22.0    30634.618240
23.0    30594.933265
24.0    30894.910868
            ...
81.0    31201.571429
82.0    37705.379310
83.0    31012.727273
84.0    35440.818182
85.0    29792.363636
Name: annual premium, Length: 66, dtype: float64

In [25]:
# iii. Is your data balanced between the genders?
merge.groupby(['Gender']).count()

,customer_id,age,driving licence present,region code,previously insured,vehicle age,vehicle damage,annual premium,sales channel code,vintage,response
Gender,,,,,,,,,,,
Female,174485,242831,242418,242829,242820,242808,242799,242463,242783,242803,242828
Male,205484,285381,286155,285746,286150,286162,285762,285772,286171,286160,286164

In [22]:
# iv. Vehicle age wise average annual premium
merge.groupby(['vehicle age']).mean()['annual premium']

vehicle age
1-2 Year     30450.749064
< 1 Year     30158.258709
> 2 Years    34157.924024
Name: annual premium, dtype: float64

In [23]:
# 5. Is there any relation between Person Age and annual premium?
print("Correlation coefficient is :", merge['age'].corr(
    merge['annual premium']), "So its is 'There is No Relationship'")

Correlation coefficient is : 0.0471630773122804 So its is 'There is No Relationship'